*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    height: 100vh;
    width: 100vw;
    place-content: center;
}

#grid-container {
    /* margin: auto; */
    width: 600px;
    height: 600px;
    display: grid;
    background-color: white;
    border: 1px solid #888
}

.game-wrapper {
    display: flex;
    margin: auto;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: "Cedarville Cursive";
}

p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.25rem;
}

.hover {
    background-color: #333;
}

.controls {
    padding: 3rem;
}

button {
    font-family: sans-serif;
    padding: .25rem .5rem;
    border-radius: .25rem;
    background-color:cadetblue;
    color: white;
    border: 1px solid white;
}

button:hover {
    background-color: white;
    color: cadetblue;
    transition: 100ms linear;
}

#numberPerRow {
    border: none;
    border-radius: .25rem;
}

.slider-container {
    display: flex;
    justify-content: center;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: cadetblue;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: #333;
  }